header {
  height: 10vh;
  background-color: $superLightGray;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;

  .operator-info {
    display: flex;

    div {
      margin: 5px;
    }
  }
}
