$lightGreen: #86fe5d;
$mediumGreen: #3ea46a;
$darkGreen: #2d7a58;
$bue: #397ae0;
$white: #ffffff;
$darkerWhite: #efefef;
$superLightGray: #ddd;
$lightGray: #3e4243;
$darkGray: #373b3c;
$purple: #9954fe;
